body{margin:0px;padding:0px;background:#DFDFDF;font-family:trebuchet MS,Lucida Sans Unicode, Lucida Sans, Sans-Serif;font-size:1em;line-height:1.5em;color:#181818;}
a{color:#CC0033;text-decoration:none;cursor:pointer;}
a:hover{color:#999;text-decoration:none;}

.arrow{background:url(/i/sprite_png_v3.png) no-repeat -2px -274px;padding:0 0 0 14px;}
#header_frame{float:left;margin:0 0 0 5px;}
#adblock{padding:0 0 10px 0;}
#adblock2{padding:0 0 10px 0;width:100%;}
#adblock3{display:block;height:70px}
#hf1{line-height:32px;font-size:1.3em;padding:0;text-transform:uppercase;font-weight:bold;color:#00b315;}
#hf2{line-height:8px;font-size:0.7em;color:#fff;}
#hf1 a {
	text-decoration: none;
	color:#0a5505;
}
#hf1 a:hover {
	text-decoration: none;
	color:#fff;
}
div#container{min-width:900px;}
div#header_frame{border-right:1px solid #583d09;padding-right:10px;}
div#header{height:46px;background:#7a580b url(http://localhost/data/1_archivos/menu_top.jpg);border-bottom:1px solid #000;}
div#header_logo{width:42px;float:left;height:45px;background:url(http://localhost/data/1_archivos/logo.png) no-repeat ;cursor:pointer;}
div#header_menu{float:left;border-right:1px solid #877745;}
div#header_firefox{width:30px;height:46px;cursor:pointer;margin:0 0 0 10px;background:url(/i/sprite_png_v3.png) no-repeat -31px -425px;float:left;}
div#header_chrome{width:30px;height:46px;cursor:pointer;margin:0 0 0 10px;background:url(/i/sprite_png_v3.png) no-repeat -62px -425px;float:left;}
div#header_twitter{width:30px;height:46px;cursor:pointer;margin:0 0 0 10px;background:url(/i/sprite_png_v3.png) no-repeat 0 -425px;float:left;}
ul#nav{list-style-type:none;margin:0;padding:0;}
#nav li{font-size:0.9em;float:left;}
.code_box{padding:7px;margin:10px;background-color:#FFFFEF;border:1px dotted #DDDDAA;}
#nav li a{height:30px;display:block;float:left;color:#ddd;padding:10px 18px 6px 18px;border-right:1px solid #4c3d1e;border-left:1px solid #4c3d1e;}
#nav li a:hover{color:#00b315;}
#nav li.active a{font-weight:bold;color:white;text-decoration:none;}
div#content_frame{overflow:hidden;height:100%;clear:both;}
div#content_right{margin:10px 10px 0px 180px;padding:10px;border:1px solid #ccc;background-color:#fff;}
div#content_left{width:160px;float:left;padding:10px 10px;}

.lineapar{background: #ffffff; width:100%;}
.lineaimpar{background: #f8f8f5; width:100%;}

#cse-search-results{padding:10px 0 0 0;}
.content_left_title{width:138px;background:#ccc url(/i/sprite_png_v3.png) no-repeat 1px -190px;line-height:25px;padding:0 5px 0 17px;font-weight:bold;font-size:0.75em;text-transform:uppercase;}
.content_left_box{width:150px;padding:0 5px;margin-bottom:10px;background-color:#fff;font-size:0.75em;}
.clb_top{height:16px;line-height:16px;padding:4px 0 0 0;width:150px;overflow:hidden;}
.clb_bottom{height:16px;color:#999;line-height:16px;padding:0 0 4px 0;width:150px;overflow:hidden;border-bottom:1px dotted #ccc;}
.clb_bottom span {
	color: #000;
}
.paste_form{display:inline;}
.paste_textarea{font-family:monospace;font-weight:normal;font-size:12px;line-height:16px;background-color:#F9F9F9;width:98%;height:200px;border:1px solid #ccc;padding:5px;margin:10px 0 0 0;color:#181818;}
.abuse_textarea{background-color:#F9F9F9;width:300px;height:100px;border:1px solid #ccc;padding:5px;margin:10px 0 0 0;color:#181818;}
#code_frame{font-size:12px;line-height:18px;}
#code_frame li:hover{background-color:#FFD;}
#code_frame a{text-decoration:underline;}
#code_frame div { 
    line-height: 18px; 
}
#pagination{font-size:0.8em;}
.paste_submit{vertical-align:top;padding:0 0 0 0;margin:0 0 0 0;width:96px;height:32px;background:url(/i/sprite_png_v3.png) 0 -13px no-repeat;}
.paste_submit:hover{background:url(/i/sprite_png_v3.png) 0 -46px no-repeat;}
.notice{background-color:#FFFFEF;border:1px dotted #DDDDAA;padding:0 10px;height:35px;line-height:35px;font-size:0.75em;margin:0 0 10px 0;overflow:hidden}
.notice2{background-color:#EEEFEF;border:1px dotted #DDDDAA;padding:0 10px;height:35px;line-height:35px;font-size:0.75em;margin:0 0 10px 0;overflow:hidden}
div.content_box{padding:0 10px;height:35px;line-height:35px;text-transform:uppercase;font-size:0.75em;background-color:#EBEBEB;border:1px solid #ccc;overflow:hidden}
span.content_box_left{float:left;font-size:1em;}
span.content_box_left2{float:left;font-size:2em;}
span.content_box_right{float:right;text-align:right;font-size:1em;}
div#footer-push{height:10px;}
div#footer{font-size:0.75em;padding:5px 10px;border-top:1px solid #ccc;margin:0 0 0 0;background:#DFDFDF;}
div#footer_left{float:left;}
div#footer_right{float:right;text-align:right;}
ul.languages{margin:0;list-style-type:none;}
li.languages{margin:0 0 0 5px;float:left;cursor:pointer;}
.languages li.en{display:block;background:url(/i/sprite_png_v3.png) no-repeat;width:16px;height:13px;}
.languages li.es{display:block;background:url(/i/sprite_png_v3.png) no-repeat -16px 0;width:16px;height:13px;}
.languages li.ch{display:block;background:url(/i/sprite_png_v3.png) no-repeat -32px 0;width:16px;height:13px;}
.languages li.fr{display:block;background:url(/i/sprite_png_v3.png) no-repeat -48px 0;width:16px;height:13px;}
.clear_it{clear:right;}
.form_info{font-size:0.7em;height:40px;font-style:italic;}
.form_frame{font-size:0.75em;width:550px;}
.form_left{float:left;width:150px;height:40px;}
.form_right{float:right;width:400px;height:40px;text-align:left;}
.maintable{font-size:0.75em;border-collapse:collapse;}
table.maintable{width:100%}
.maintable tr.g{background-color:#F2F2F2;}
.maintable td{vertical-align:top;border-bottom:1px solid #ccc;padding:4px 6px;}
.maintable th{text-transform:uppercase;border-bottom:1px solid #ccc;padding:4px 6px;}
.maintable td a{color:#04A;text-decoration:none;}
.maintable td a:hover{color:#C9231C;text-decoration:none;}
.td_left{color:#000;text-align:right;width:150px;}
.content_sub_title{font-size:0.9em;font-weight:bold;padding:10px 0;}
.content_text{font-size:0.8em;padding:8px 0;line-height:24px;}
div#header_search{width:250px;height:22px;padding:8px 10px 0 0;float:right;text-align:right;}
.search_form{display:inline;width:250px;height:30px;}
.search_input{text-transform:lowercase;background-color:#F9F9F9;width:170px;border:1px solid #ccc;padding:5px;color:#181818;font-family:trebuchet MS,Lucida Sans Unicode, Lucida Sans, Sans-Serif;}
.search_button{vertical-align:top;padding:0;margin:0 0 0 4px;width:30px;height:30px;background:url(/i/sprite_png_v3.png) 0 -79px no-repeat;}
input.post_input, select.post_select{font-family:trebuchet MS,Lucida Sans Unicode, Lucida Sans, Sans-Serif;background-color:#F9F9F9;width:240px;border:1px solid #ccc;padding:5px;color:#181818;font-size:1.0em;}
input.post_input{width:228px;}
table.diff{background:white;}
table.diff td{text-align:right;padding-left:3px;padding-right:3px;}
table.diff td.code{text-align:left;}
table.diff td.code pre{margin:0;padding:0;}
table.diff tr.new{background:#ddddff;}
table.diff tr.old{background:#ffdddd;}
table.diff tr.hidenew{display:none;}
table.diff tr.hideold{display:none;}
#oldlink, #newlink, #bothlink{padding:1px 4px 3px 4px;}

.footer_twitter {
	width: 83px;
	height: 14px;
	margin: 0 0 0 3px;
	float: right;
	display: block;
	background: url(/i/sprite_png_v3.png) no-repeat 0 -386px;
	
}
.footer_firefox {
	width: 83px;
	height: 14px;
	margin: 0 0 0 3px;
	float: right;
	display: block;
	background: url(/i/sprite_png_v3.png) no-repeat 0 -371px;
}
.footer_chrome {
	width: 83px;
	height: 14px;
	margin: 0 0 0 3px;
	float: right;
	display: block;
	background: url(/i/sprite_png_v3.png) no-repeat 0 -356px;
}
span#hide {
	color: #DFDFDF;
}
