<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Notas Canaima</title>
		<link rel="shortcut icon" href="http://pastebin.com/favicon.ico">
		<meta name="robots" content="noarchive">

		<script src="data/javascripts/prototype.js" type="text/javascript"></script>
		<script src="data/javascripts/scriptaculous.js" type="text/javascript"></script>


		<link href="/data/1_archivos/style.css" rel="stylesheet" type="text/css">
				<script type="text/javascript" src="/data/1_archivos/basic.js"></script>
		<!--[if lte IE 6]>
			<link href="/i/ie6.css" media="screen" rel="Stylesheet" type="text/css" />
		<![endif]-->

<script language="JavaScript">
/* This function sets the cookie */
function iLoveCookies(){
days=30; // number of days to keep the cookie
myDate = new Date();
myDate.setTime(myDate.getTime()+(days*24*60*60*1000));
document.cookie = 'mostrar=no; expires=' + myDate.toGMTString();
}
/* end of cookie function */
</script>
   
{% load  %}	
	</head><body>
<!--[if lte IE 6]>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td>
<![endif]-->
		<div id="container">
			<div id="header">
				<div id="header_logo" title="Hacer nueva nota!" onclick="location.href='{{parent_url}}'"></div>
				<div id="header_frame">
					<div id="hf1"><a href="/">Notas!</a></div>
					<div id="hf2">Compartiendo información </div>
				</div>				
				<div id="header_menu">
					<ul id="nav">
						<li {%if nueva %} class="active">{% endif %}<a href=".">Nueva Nota</a></li>
						<li {%if todas %} class="active">{% endif %}<a href="archivo">Archivo</a></li>
						<li {%if ayuda %} class="active">{% endif %}<a href="ayuda">Ayuda</a></li>
					</ul>
				</div>
				<div id="header_search">
					<form class="search_form" name="search_form" method="get" action="/buscar" id="busqueda">
						<input class="search_input" name="q" size="5" value="buscar..." onfocus="this.value=''" type="text"><input class="search_button" src="/data/1_archivos/buscar.gif" alt="Buscar..." value="Search" name="sa" type="image">
					</form>
				</div>
			</div>
			<div id="content_frame">
				<div id="content_left">
{% load taggs%}
				
{% if not todas %}
		<div class="content_left_title">Notas Recientes</div>
		<div class="content_left_box">
{% for nota in notas_recientes %}
                        <div class="clb_top"><a href="{{ nota.id }}">{{ nota.titulo }}</a></div>
                        <div class="clb_bottom"><span>{{ nota.autor }}</span> </div>
                        <div class="clb2_bottom"><span>{{ nota.fecha|timesince|trad }}</span> </div>
{% endfor %}
				</div>

{% endif %}




		<div class="content_left_title">¿Que es esto?</div>
		<div class="content_left_box">
			Esta plataforma de notas, te permite compartir públicamente notas o textos para cualquier propósito.<br><a href="ayuda" class="arrow">aprender más</a>
		</div>

	</div>

{%for nota in todas %}

	<div id="content_right">
                        <div class="clbc_top"><a href="{{ nota.id }}">{{ nota.titulo }}</a></div>
                        <div class="clbc_bottom"><span>por {{ nota.autor }}, hace {{ nota.fecha|timesince|trad }}</span> </div>
			{{nota.nota|linebreaks|truncatewords:12}}
	</div>
{%endfor%}

{%for nota in todas2%}

	<div id="content_right">
                        <div class="clbc_top"><a href="{{ nota.id }}">{{ nota.titulo }}</a></div>
                        <div class="clbc_bottom"><span>por {{ nota.autor }}, hace {{ nota.fecha|timesince|trad }}</span> </div>
			{{nota.nota|linebreaks|truncatewords:12}}
	</div>
{%endfor%}
{%for nota in todas3%}
	<div id="content_right">
                        <div class="clbc_top"><a href="{{ nota.id }}">{{ nota.titulo }}</a></div>
                        <div class="clbc_bottom"><span>por {{ nota.autor }}, hace {{ nota.fecha|timesince|trad }}</span> </div>
			{{nota.nota|linebreaks|truncatewords:12}}
	</div>
{%endfor%}



	<div id="content_right">


		{%if mayuda %}	
		<div class="notice" id="notice">
			<span class="content_box_left">{% if exito %} EXITO insertando informacion {%endif%}  Aprenda un poco más sobre este nuevo sistema de notas en la <a href="ayuda">ayuda</a>.</span>
			<span id="ocultarr" class="content_box_right"><a href="#" onclick="Effect.BlindUp('notice'); iLoveCookies(); return false;">ocultar</a></span>
		</div> {% endif%}


{% if exito %} Se ha creado una nueva nota, la dirección para visualizarla es: <a href="{{id}}">http://notas.canaima.softwarelibre.gob.ve/{{id}}</a>, puede darle esta dirección a cualquier persona para que tenga acceso a su nota. {%endif%}

{%if busqueda and not todas1 and not todas2 and not todas3%} <div style="color:red" class="content_box"><b> Su Busqueda no arrojó ningun resultado. </b></div> {%endif%}


{%if not ver %}
{%if not exito%}
		{% if not ayuda %}

		<div class="content_box"><b>Llene el siguiente cuadro de texto, titulo y su nombre para crear una nota nueva.</b></div>
		<form class="paste_form" name="paste_form" method="post" action="/enviar">
			{{formulario_principal}}
			<input class="paste_submit"  alt="submit" value="Enviar" name="submit" type="submit">						
		</form>	

{% endif %} 	
{% endif %} 	
{% endif %} 	

{% if ver2 %}
		<div class="notice2">
			<span class="content_box_left2">{{ver.titulo}}</span>
			<span class="content_box_right">Publicado por: {{ver.autor}}</span>
		</div>


	{%for item in ver2 %}
		<div class="{% cycle 'lineapar' 'lineaimpar' %}" title="Linea {{forloop.counter}}"> {{item}}</div>
	{%endfor%}
{% endif%}




		<!--[if lte IE 6]>
			</td>
		</tr>
        <tr>
            <td>
                <img src="/i/dot.gif" width="900" height="1" alt="" />
            <td>
        </tr>
		</table>
<![endif]-->


	</body></html>
